.lead__subtitle {
  margin: 32px auto 0;
  text-align: center;
  color: #ffffff;
  width: 640px;
  height: 72px;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
}
