.lead__subtitle {
  margin: 32px auto 0;
  text-align: center;
  color: #ffffff;
  max-width: 640px;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .lead__subtitle {
    width: calc(100% - 14 * 2);
    font-size: 24px;
    margin: 26px auto 0;
  }
}

@media screen and (min-width: 326px) and (max-width: 424px) {
  .lead__subtitle {
    width: calc(100% - 10 * 2);
    font-size: 18px;
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 325px) {
  .lead__subtitle {
    max-width: 288px;
    margin: 16px auto 0;
    font-size: 16px;
    line-height: 1.25;
  }
}
